<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <featureManager>
    <!-- tag::servlet[] -->
        <feature>servlet-4.0</feature>
    <!-- end::servlet[] -->
    <!-- tag::springboot[] -->
        <feature>springBoot-2.0</feature>
    <!-- end::springboot[] -->
    </featureManager>

    <!-- tag::httpport[] -->
    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="8092"
                  httpsPort="9443" />
    <!-- end::httpport[] -->

    <!-- tag::springBootApplication[] -->
    <springBootApplication id="cms-kyc"
                           location="thin-cms-kyc-0.1.0.jar"
                           name="cms-kyc" />
    <!-- end::springBootApplication[] -->

</server>
